span.css-10trblm.eqr7zpz0
{
  font-weight: bold;
}

div.css-1y3ikf4.eqr7zpz4
{
  
}

div.intro
{
  justify-content: center;
  color: white;
  border-style:solid;
  border-color:black;
  border-radius:5px;
  background-color:#823082;
  margin: 10px;
}

ol.instr
{
  justify-content: center;
  color: white;
  border-style:solid;
  border-color:black;
  border-radius:5px;
  background-color:#823082;
  margin: 10px;
}

div.intro
{
  padding:12px 21px 12px 21px;
  font: Times New Roman;
}

div.intro {
  justify-content: center;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: #823082;
  margin: 10px;
  box-shadow: 0 0 5px #fff;
  transition: box-shadow 0.3s ease-in-out;
}

div.intro:hover {
  box-shadow: 0 0 10px 5px #fff, 0 0 20px 10px #ff00ff;
}

