span.css-10trblm.eqr7zpz0 {
  font-weight: bold;
  color: white;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(128, 50, 130, 0.2);
  }
  100% {
    box-shadow: 0 0 5px rgba(128, 50, 130, 0.4);
  }
}

div.css-1y3ikf4.eqr7zpz4
{
  
}



ol.instr
{
  justify-content: center;
  color: white;
  border-style:solid;
  border-color:black;
  border-radius:5px;
  background-color:#823082;
  margin: 10px;
}

div.intro
{
  padding:12px 21px 12px 21px;
  font: Times New Roman;
}

div.intro {
  justify-content: center;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: #823082;
  margin: 10px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

div.intro:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}


