span.css-10trblm.eqr7zpz0
{
  font-weight: bold;
}

div.css-1y3ikf4.eqr7zpz4
{
  
}

div.intro
{
  justify-content: center;
  color: white;
  border-style:solid;
  border-color:black;
  border-radius:5px;
  background-color:#823082;
  margin: 10px;
}

ol.instr
{
  justify-content: center;
  color: white;
  border-style:solid;
  border-color:black;
  border-radius:5px;
  background-color:#823082;
  margin: 10px;
}

div.intro
{
  padding:12px 21px 12px 21px;
  font: Times New Roman;
}

div.intro:hover
{
  
  box-shadow: 5px 10px #F51AA4;
}
